 <div class="cm-service-popup cm-comment-popup">
    <h3>订单号：123456</h3>
    <p>您的评价只会发送给馋猫、餐厅以及派送员，谢谢</p>
    <div class="cm-comment-content">
      <div class="cm-upload" style="width:150px;">
        <h3 >上传图片</h3>
        <label class="cm-upload-pic">
          <img src="src/images/image.png" class="img-responsive">
        </label>
        <label class="cm-upload-pic">
          <img src="src/images/image.png"  class="img-responsive">
        </label>
      </div>
      <div style="width:370px;margin-left: 30px">
        <div style="display:flex;"><h3>餐馆评分</h3><div id="rateYo-res" style="margin-left: 15px"></div></div>
        <div class="less4-res">
            <p>我们需要改进的地方</p>
            <div style="display:flex;width:100%;justify-content:space-around">
              <button class="cm-btn-complain">缺少餐具</button>
              <button class="cm-btn-complain">打包质量</button>
              <button class="cm-btn-complain">缺少菜品</button>
            </div>
        </div>
        <textarea columns="2" placeholder="您对这家餐馆的菜品以及服务有什么样的意见以及建议" style="width:100%;margin-top:10px;margin-bottom:20px;border-color:#999999"></textarea>
        <div style="display:flex"><h3>送餐评分</h3><div id="rateYo-driver" style="margin-left: 15px"></div></div>
        <div class="less4-driver">
            <p>我们需要改进的地方</p>
            <div style="display:flex;width:100%;justify-content:space-around">
              <button class="cm-btn-complain">送餐速度</button>
              <button class="cm-btn-complain">司机态度</button>
            </div>
        </div>
        <textarea columns="2" placeholder="您对这家餐馆的菜品以及服务有什么样的意见以及建议" style="width:100%;margin-top:10px;margin-bottom:20px;border-color:#999999"></textarea>
        <div style="display:flex;width:230px;justify-content:space-between">
            <input class="cm-btn-submit" type="submit" value="保存" data-toggle="tooltip" title="submit"/>
            <input class="cm-btn-cancel" type="submit" value="取消" data-toggle="tooltip" title="submit"/>
        </div>
      </div>
    </div>
  </div>
