<div>
  <login-main *ngIf="option.loginMain" [option]='option'>
  </login-main>
  <signup *ngIf="option.signup" [option]='option'>
  </signup>
  <forget-password *ngIf="option.forgetPassword" [option]='option'>
  </forget-password>
  <signup-success *ngIf="option.signupSuccess" [option]='option'>
  </signup-success>
  <new-password-mes *ngIf="option.newPasswordMes">
  </new-password-mes>
  <new-password *ngIf="option.newPassword" [option]='option'>
  </new-password>
  <password-mes *ngIf="option.passwordMes">
  </password-mes>
</div>
