
                <div id="info" class="cm-col-content" style="height: 900px;overflow: scroll;">
                    <h2>地址详情</h2>

                    <h2>营业时间</h2>
                    <div class="cm-info-open container" style="width: 300px">
                      <div class="col-xs-6">
                        <p>星期一</p>
                        <p>星期二</p>
                        <p>星期三</p>
                        <p>星期四</p>
                        <p>星期五</p>
                        <p>星期六</p>
                        <p>星期日</p>
                      </div>
                      <div class="col-xs-6">
                        <p>{{restaurantInfo.openningTimes.Monday.start}} - {{restaurantInfo.openningTimes.Monday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Tuesday.start}} - {{restaurantInfo.openningTimes.Tuesday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Wednesday.start}} - {{restaurantInfo.openningTimes.Wednesday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Thursday.start}} - {{restaurantInfo.openningTimes.Thursday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Friday.start}} - {{restaurantInfo.openningTimes.Friday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Saturday.start}} - {{restaurantInfo.openningTimes.Saturday.end}}</p>
                        <p>{{restaurantInfo.openningTimes.Sunday.start}} - {{restaurantInfo.openningTimes.Sunday.end}}</p>

                      </div>
                    </div>
                </div>
