<div class="cm-content-2">
    <div class="cm-info-container container" style="width:100%;padding:0;margin-top:20px">
        <div class="col-sm-2" style="padding:0">
            <div class="cm-info-catalog">
                <button [routerLink]="['/user/userinfo']" class="cm-personal"><h2>个人中心</h2></button>
                <button [routerLink]="['/user/myorder']" class="cm-myorder"><h2>我的订单</h2></button>
                <button [routerLink]="['/user/security']" class="cm-security"><h2>安全中心</h2></button>
            </div>
        </div>
        <div class="col-sm-10" style="padding:0">
        <router-outlet></router-outlet>
    </div>
    </div>
    
</div>