<div id="business" class="cm-info-content">
                    <h2 style="margin:10px 0;font-size:20px">商家合作</h2><br/>
										<div class="cm-city">
											<img src="src/images/car.png" style="height:100px">
											<h2 style="color:white;font-family:FZZongYi-M05S;font-size:60px">馋猫商家合作帖</h2>
										</div>

                    <form class="cm-driver-form" id="submitForm" style="margin-left: 27%;width: 650px">
                          <div class="cm-form-group">
                              <label for="nameInput" class="control-label">商家名称</label>
                              <div >
                                  <input type="text" name="nameInput" class="form-control"/>
                              </div>
                          </div>
                          <div class="cm-form-group">
                              <label for="nameInput" class="control-label">地址</label>
                              <div >
                                  <input type="text" name="nameInput" class="form-control"/>
                              </div>
                          </div>
                          <div class="cm-form-group">
                              <label for="nameInput" class="control-label">营业时间</label>
                              <div >
                                  <input type="text" name="nameInput" class="form-control"/>
                              </div>
                          </div>
                          <div class="cm-form-group">
                              <label for="emailInput" class="control-label">联系电话</label>
                              <div >
                                    <input type="email" name="emailInput" class="form-control"/>
                              </div>
                          </div>
                          <div class="cm-form-group">
                              <label for="emailInput" class="control-label">联系人</label>
                              <div >
                                    <input type="email" name="emailInput" class="form-control"/>
                              </div>
                          </div>

                          <div style="display:flex;width:60%;justify-content:space-around">
                              <input class="cm-btn-submit" type="submit" value="提交" data-toggle="tooltip" title="submit"/>
                              <!-- <input class="cm-btn-cancel" type="reset" value="取消" data-toggle="tooltip" title="reset"/> -->
                          </div>
                      </form>

                      <hr/>
                      <div class="cm-phil">
                        <h2>联系我们</h2>
                        <h1>phil@chanmao.ca</h1>
                      </div>

                  </div>
