<div class="cm-popup cm-password" style="padding-left:250px;padding-top:100px;padding-right:300px">
    <h2>找回密码</h2>
    <form [formGroup] = 'forgetPasForm' (ngSubmit)="forgetPas(forgetPasForm.value)">
    <div class="inner-addon left-addon cm-popup-input">
      <i class="glyphicon glyphicons-envelope" style="margin-top:3px"></i>
      <input formControlName="email" placeholder="密码" type="text" placeholder="邮箱地址" style="height:36px;width:100%;" />
    </div>
    <div *ngIf="forgetPasForm.controls.email.touched">
      <p *ngIf="forgetPasForm.controls.email.hasError('required')" class="cm-popup-alert">请输入电子邮箱</p>
      <p *ngIf="forgetPasForm.controls.email.hasError('invalidEmail')" class="cm-popup-alert">邮箱不存在</p>
      </div>
    <p *ngIf= '!isEmailValid' class="cm-popup-alert" style="width: 160px">您的邮箱未注册</p>
    <button [disabled]='!forgetPasForm.valid' class="cm-popup-next" style="margin-top:20px">下一步</button>
    </form>
    <hr/>
    <div class="cm-popup-noaccount">
      <p>还没有账号？</p>
      <button class="cm-popup-signup">注册</button>
    </div>
    <button class="cm-popup-direct" style="font-size:14px">
      <span class="glyphicon glyphicons-envelope" style="position:relative;font-size:16px"></span>
      返回登录
    </button>
  <!-- </div> -->
</div>
