<div class="cm-popup cm-address-popup">
  <h2 style="margin:20px 10px;font-size:20px">添加地址</h2>
  <div class="" style="margin-left:22%">

    <form class="cm-address-form" id="submitForm" style="width: 850px">
          <div class="cm-form-group" >
            <p class="button-group cm-address-btn-group"  data-toggle="buttons">
                   <label type="button" class="btn active"><input type="radio">Home</label>
                   <label type="button" class="btn"><input type="radio">Work</label>
                   <label type="button" class="btn"><input type="radio">Other</label>
           </p>
          </div>
          <div class="cm-form-group" style="display:flex">
              <label for="nameInput" class="control-label col-xs-3">联系人</label>
              <div class="col-xs-9">
                  <input type="text"
                         name="nameInput"
                         class="form-control"/>
              </div>
          </div>
          <div class="cm-form-group" style="display:flex">
              <label for="nameInput" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-9">
                  <input type="text"
                         name="nameInput"
                         class="form-control"/>
              </div>
          </div>
          <div class="cm-form-group" style="display:flex">
              <label for="nameInput" class="control-label col-xs-3">Unit/Apt No</label>
              <div class="col-xs-9">
                    <input type="email"
                           name="emailInput"
                           class="form-control"/>
              </div>
          </div>
          <div class="cm-form-group" style="display:flex">
              <label for="nameInput" class="control-label col-xs-3">街道名字</label>
              <div class="col-xs-9">
                    <input type="email"
                           name="emailInput"
                           class="form-control"/>
              </div>
          </div>
          <div class="cm-form-group" style="display:flex">
              <label for="nameInput" class="control-label col-xs-3">邮编</label>
              <div class="col-xs-9">
                    <input type="email"
                           name="emailInput"
                           class="form-control"/>
              </div>
          </div>
          <label style="margin-left:15px">
              <input type="checkbox"
                     name="defaultradio"
                     style="margin-right:5px"/>
                     设置为默认地址
          </label>
          <div style="display:flex;
                      width:50%;
                      justify-content:space-around;
                      margin:20px 0">
              <input class="cm-btn-submit"
                     type="submit"
                     value="保存"
                     data-toggle="tooltip"
                     title="submit"/>
              <input class="cm-btn-cancel"
                     type="reset"
                     value="取消"
                     data-toggle="tooltip"
                     title="reset"/>
          </div>

      </form>
  </div>
</div>
