<div id="question" class="cm-info-content">
  <h2 style="margin:10px 0;font-size:20px">常见问题</h2><br/>
  <div><img class="col-sm-1 col-xs-2" src="src/images/devices.png" style="margin-top:10px">
  </div>
  <div class="col-md-5  col-sm-5 col-xs-10">
    <h4 class="font-body" style="margin-bottom:15px;">Q: 如何订餐?</h4>
    <p>A：建议下载我们的iOS App订餐，Web版和Android版暂时只能支持有限的功能，我们会继续改进。</p>
  </div>
  <div><img class="col-sm-1 col-xs-2" src="src/images/change.png">
  </div>
  <div class="col-md-5 col-sm-5 col-xs-10 bottommargin-sm">
    <h4 class="font-body" style="margin-bottom:15px;">Q：起送最低价?</h4>
    <p>A：现在使用馋猫iOS App没有起送价哦！记得升级到最新版哦~</p>
  </div>
  <div><img class="col-sm-1 col-xs-2" src="src/images/cards.png" style="margin-top:15px">
  </div>
  <div class="col-md-5 col-sm-5 col-xs-10 bottommargin-sm">
    <h4 class="font-body" style="margin-bottom:15px;">Q：请问可以刷卡吗?</h4>
    <p>A：我们现在收现金和信用卡(Visa, Master, AE)。暂时不能刷Debit卡和网上支付，未来会逐渐支持。</p>
  </div>
  <div><img class="col-sm-1 col-xs-2" src="src/images/distance.png">
  </div>
  <div class="col-md-5 col-sm-5 col-xs-10 bottommargin-sm">
    <h4 class="font-body" style="margin-bottom:15px;">Q：超出送餐范围能送吗?</h4>
    <p>A：超出送餐范围的根据公里数不同送餐费不同，您可以选择“定制运费”然后下单，随后我们会有客服联系您确认运费的。</p>
  </div>

</div>
