<div class="cm-content-2">
    <div class="cm-res-1">
            <cm-address></cm-address>
    </div>
<!--*ngIf="router.url == '/info/userinfo' || router.url == '/info/myorder' || router.url == '/info/security'"-->
<!--*ngIf="router.url == '/info/fresh' || router.url == '/info/question' || router.url == '/info/about'"-->
    <div class="cm-info-container container" style="width:100%;padding:0;margin-top:20px">
            <div class="col-sm-2" style="padding:0" 
            [hidden]="!(router.url == '/info/userinfo' || router.url == '/info/myorder' || router.url == '/info/security')"
             >
              <div class="cm-info-catalog" >
                <button [routerLink]="['/info/userinfo']" class="cm-personal"><h2>个人中心</h2></button>
                <button [routerLink]="['/info/myorder']" class="cm-myorder"><h2>我的订单</h2></button>
                <button [routerLink]="['/info/security']" class="cm-security"><h2>安全中心</h2></button>
              </div>
            </div>
            <div class="col-sm-2" style="padding:0"
            [hidden]="!(router.url == '/info/fresh' || router.url == '/info/question' || router.url == '/info/about')"
            >
              <div class="cm-info-catalog">
                <button [routerLink]="['/info/fresh']" class="cm-fresh"><h2>新手指南</h2></button>
                <button [routerLink]="['/info/question']" class="cm-question"><h2>常见问题</h2></button>
                <button [routerLink]="['/info/about']" class="cm-about"><h2>关于我们</h2></button>
              </div>
            </div>
            <div class="col-sm-2" style="padding:0" 
            [hidden]="!(router.url == '/info/driver' || router.url == '/info/business')"
             >
              <div class="cm-info-catalog" >
                <button [routerLink]="['/info/driver']" class="cm-driver"><h2>司机团队</h2></button>
                <button [routerLink]="['/info/business']" class="cm-business"><h2>商家合作</h2></button>
                <button [routerLink]="['/info/business']" class="cm-ad"><h2>广告推广</h2></button>
              </div>
            </div>
            <div class="col-sm-10" style="padding:0">
              <router-outlet ></router-outlet>
              </div>
        </div>
        
    </div>
