<div class="container" style="width: 100%;margin: 0;padding: 0">

  <div class="cm-area">
    <p>城市：</p>
    <p class="button-group" data-toggle="buttons">
      <label type="button" (click)="filter('All')" class="btn active"><input type="radio">All</label>
      <label type="button" (click)="filter('Markham')" class="btn"><input type="radio">Markham</label>
      <label type="button" (click)="filter('North York')" class="btn"><input type="radio">North York</label>
      <label type="button" (click)="filter('Richmond Hill')" class="btn"><input type="radio">Richmond Hill</label>
      <label type="button" (click)="filter('Downtown')" class="btn"><input type="radio">Downtown</label>
      <label type="button" (click)="filter('Mississauga')" class="btn"><input type="radio">Mississauga</label>
      <label type="button" (click)="filter('Scarborough')" class="btn"><input type="radio">Scarborough</label>

    </p>
  </div>
  <div class="cm-res-img container">
    <div *ngFor="let restaurant of displayedrestaurants">
      <a [routerLink]="['restaurants',restaurant.id]">
        <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src={{restaurant.img}} class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">{{restaurant.tags?.name}}</p>
                      <p class="cm-tag-taste">{{restaurant.tags?.taste}}</p>
                      <p class="cm-tag-address">{{restaurant.tags?.address}}</p>
                      <p class="cm-tag-address">{{restaurant.location}}</p>
                    </div>
        </label>
      </a>
    </div>
  </div>
</div>
