<div class="cm-popup cm-signup">
  <div class="container" 
  style="margin-top:20px;
  width: 100%">

    <form [formGroup]='signupForm' 
    (ngSubmit)="signup(signupForm.value)" class="col-xs-6" 
    style="z-index: 100">
      <h2>使用邮箱注册</h2>
      <div class="inner-addon left-addon cm-popup-input">
        <input type="text" formControlName="username" placeholder="设置用户名" style="height:36px;width:100%;" />
      </div>
      <p *ngIf="signupForm.controls.username.hasError('required') && signupForm.controls.username.touched" class="cm-popup-alert">请输入用户名</p>
      <p *ngIf="usernameRepeated" class="cm-popup-alert">用户名已存在</p>
      <div class="inner-addon left-addon cm-popup-input">
        <input type="password" formControlName="password" placeholder="设置密码" style="height:36px;width:100%;" />
      </div>
      <p *ngIf="signupForm.controls.password.hasError('required') && signupForm.controls.password.touched" class="cm-popup-alert">请输入密码</p>
      <div class="inner-addon left-addon" class="cm-popup-input">
        <input type="password" formControlName="confirmPassword" placeholder="确认密码" style="height:36px;width:100%;" />
      </div>
      <p *ngIf="(signupForm.controls.confirmPassword.hasError('required') || signupForm.hasError('mismatchedPasswords')) && signupForm.controls.confirmPassword.touched" class="cm-popup-alert">密码不一致</p>
      <div class="inner-addon left-addon" class="cm-popup-input">
        <input type="email" formControlName="email" placeholder="电子邮箱地址" style="height:36px;width:100%;" />
      </div>
      <div *ngIf="signupForm.controls.email.touched">
      <p *ngIf="signupForm.controls.email.hasError('required')" class="cm-popup-alert">请输入电子邮箱</p>
      <p *ngIf="signupForm.controls.email.hasError('invalidEmail')" class="cm-popup-alert">邮箱不存在</p>
      </div>
      <button [disabled]='!signupForm.valid' class="cm-popup-signup">注册</button>
    </form>


    <div class="col-xs-1">
      <div style="border-left:1px solid rgb(238,238,238);
      height:250px;
      margin-top: 50px;
      "></div>
    </div>
    <div class="col-xs-5">
      <h2 style="margin-top: 50px;margin-bottom: 0">已经注册过了？</h2>
      <div style="display: flex;align-items: baseline;">
        <h2>请点击</h2><button class="cm-popup-derict">直接登录</button></div>
      <!--<login-others style="margin: 100px 0 10px 0"> </login-others>-->
      <div login-others style="margin: 100px 0 10px 0"> </div>
    </div>
  </div>
  <pre>{{signupForm.value | json}}</pre>
</div>
