<div class="inner-addon right-addon" style="position: relative;border:1px solid #e6e6e6;width:100%;top:70px">
    <input type="text" placeholder="Search" style="height:60px;width:100%;border:none;padding-left:3%"/>
    <i class="glyphicon glyphicon-search" style="margin-top:8px;margin-right:3%;font-size:32px;font-weight:lighter;color:#e6e6e6"></i>
</div>


<div class="cm-content">


    <div class="cm-res">
        <!-- <div class="cm-res-1">
          <div class="cm-res-address" style="display:flex">
            <p>当前地址：</p>
            <span>111 main street</span>
            <input type="text">
            <label class="cm-btn-change" type="button" style="cursor: pointer;">更改地址</label>
          </div>
        </div> -->
      <div class="container" style="width: 100%;margin: 0;padding: 0">

           <div class="cm-area">
            <p>城市：</p>
                  <p class="button-group"  data-toggle="buttons">
                         <label type="button" class="btn active"><input type="radio">All</label>
                         <label type="button" class="btn"><input type="radio">Markham</label>
                         <label type="button" class="btn"><input type="radio">North York</label>
                         <label type="button" class="btn"><input type="radio">Richmond Hill</label>
                         <label type="button" class="btn"><input type="radio">Downtown</label>
                         <label type="button" class="btn"><input type="radio">Mississauga</label>
                         <label type="button" class="btn"><input type="radio">Scarborough</label>

                 </p>
           </div>
            <div class="cm-res-img container">
              <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>
                <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>

                <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>
                <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>

                <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>
                <a [routerLink]="['/restaurant1/menu']">
                  <label type="button" class="cm-res-item col-sm-6 col-md-4" >
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                </a>
                  <label type="button" class="cm-res-item col-sm-6 col-md-4">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                  <label type="button" class="cm-res-item col-sm-6 col-md-4" id="cm-res-item">
                    <div id="cm-close-black">
                      <p>商家休息<br/><br/>暂不接单</p>
                      <p class="cm-open">开店时间：00：00AM</p>
                    </div>
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                  <label type="button" class="cm-res-item"  id="cm-res-item">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
                  <label type="button" class="cm-res-item" id="cm-res-item">
                    <img src="images/res-img.png" class="img-responsive" >
                    <div class="cm-res-tag">
                      <p class="cm-tag-name">半亩园</p>
                      <p class="cm-tag-taste">粤式早茶</p>
                      <p class="cm-tag-address">77 main street, Toronto - 7km</p>
                    </div>
                  </label>
            </div>
        </div>
        <hr/>
      </div>
  </div>
