	<div class="cm-content-2">
		<div class="cm-res-banner">
      <img src="images/res-banner.png" class="img-responsive">
      <div class="cm-res-card">
        <img src="images/res-logo.png" style="width:85px">
        <h1>半亩园</h1>
        <div class="cm-card-info"><h3>营业时间：</h3><p>11:30AM - 9:30PM</p></div>
        <div class="cm-card-info"><h3>地址：</h3><p>12 Main Street, Toronto, ON</p></div>
      </div>
    </div>

    <div class="cm-order">
        <div class="cm-res-1">
        		<cm-address></cm-address>
        </div>

        <div class="cm-order-content container" style="width:100%;padding:0">
            <div class="cm-order-catalog col-sm-2">
                <div style="margin-left:10px"><h2>菜类</h2>
                <span class="glyphicon glyphicon-triangle-top" style="color:white"></span></div>
                <div class="cm-col-content" id="catalog">
                    <a href="#catalog-1"><h3 style="color:#ea7b21">厨师推荐</h3></a>
                    <a href="#catalog-2"><h3>汤</h3></a>
                    <h3>甜点</h3>
                </div>
            </div>
            <div class="cm-order-menu col-sm-7" style="padding:0 5px;">
                <div style="display:flex" >
                  <!--[routerLink]="['/restaurant1/menu']"-->
                    <div [routerLink]="['/restaurant1/menu']" id="btn-menu" style="margin-right:25px;margin-left:10px;cursor: pointer;"><h2>菜单</h2>
                      <span class="glyphicon glyphicon-triangle-top cm-menu-icon" style="color:white"></span></div>
                    <div [routerLink]="['/restaurant1/info']" id="btn-info" style="cursor: pointer;"><h2>餐厅简介</h2>
                      <span class="glyphicon glyphicon-triangle-top cm-info-icon" style="color:white"></span>
                    </div>
                </div>
                <router-outlet > </router-outlet>
            </div>

            <div class="cm-order-cart col-sm-3" style="padding: 4px 0 0 5px;">
                <div style="display:flex;justify-content:space-between">
                    <div style="margin-top:15px;margin-left:10px">
                        <div class="cm-nav-cart" style="height:30px">
                          <img class="cm-cart-icon" src="images/shoppingcar.png" style="height:30px;margin:0">
                          <div style="margin-top: 2px"><sup style="font-size: 16px">3</sup></div>
                        </div>
                        <span class="glyphicon glyphicon-triangle-top" style="color:white"></span>
                    </div>
                    <h2>菜品总计：$200.00</h2>
                </div>
                <div class="cm-col-content" id="cart">
                    <button [routerLink]="['/restaurant1/cart']" style="width:100%;background-color:#ea7b21;border:none;color:white;height:30px;margin-bottom:10px">去结算</button>
                    <div class=" cm-cart-item">
                        <div class="cm-modify">
                          <div style="display: flex;background-image: url(images/amount.png);background-position: center;height: 50px;width:66px;padding: 13px 12px">
                            <button class="cm-amount cm-amount-minus">-</button>
                            <button class="cm-amount cm-amount-plus" style="margin-left: 2px">+</button>
                          </div>
                          <div style="background-image: url(images/amount-delete.png);background-position: center;height: 50px;width:40px;padding: 13px 10px"><button class="cm-amount cm-amount-delete">x</button></div>
                        </div>
                        <label class="container" style="padding:10px 0 0 0;margin:0">
                            <div class="col-xs-1" style="padding:0"><p>1</p></div>
                            <div class="col-xs-1" style="padding:0"><p>x</p></div>
                            <div class="col-xs-7" style="padding:0"><p>麻辣烤鱼</p></div>
                            <div class="col-xs-3" style="padding:0"><p>$100.00</p></div>
                        </label>
                    </div>
                    <div class=" cm-cart-item">
                        <div class="cm-modify">
                          <div style="display: flex;background-image: url(images/amount.png);background-position: center;height: 50px;width:66px;padding: 13px 12px">
                            <button class="cm-amount cm-amount-minus">-</button>
                            <button class="cm-amount cm-amount-plus" style="margin-left: 2px">+</button>
                          </div>
                          <div style="background-image: url(images/amount-delete.png);background-position: center;height: 50px;width:40px;padding: 13px 10px"><button class="cm-amount cm-amount-delete">x</button></div>
                        </div>
                        <label class="container cm-cart-item" style="padding:10px 0 0 0;margin:0">
                            <div class="col-xs-1" style="padding:0"><p>2</p></div>
                            <div class="col-xs-1" style="padding:0"><p>x</p></div>
                            <div class="col-xs-7" style="padding:0"><p>麻辣烤鱼</p></div>
                            <div class="col-xs-3" style="padding:0"><p>$100.00</p></div>
                        </label>
                    </div>
                </div>
                <div class="cm-history">
                  <h2 style="margin:10px 0">最近浏览</h2>
                  <label type="button" class="cm-his-item" id="cm-his-item">
                    <div class="cm-his-tag">
                      <p class="cm-his-name">半亩园</p>
                      <p class="cm-his-taste">粤式早茶</p>
                    </div>
                    <img src="images/res-img.png" class="img-responsive" >
                    <p class="cm-his-address">77 main street, Toronto
                      </p>
                    <p class="cm-his-address" style="color:#666666">7km</p>
                  </label>
                  <label type="button" class="cm-his-item" id="cm-his-item">
                    <div class="cm-his-tag">
                      <p class="cm-his-name">半亩园</p>
                      <p class="cm-his-taste">粤式早茶</p>
                    </div>
                    <div class="cm-his-close">店家休息，暂不接单</div>
                    <img src="images/res-img.png" class="img-responsive" >
                    <p class="cm-his-address">77 main street, Toronto
                      </p>
                    <p class="cm-his-address" style="color:#666666">7km</p>
                  </label>
                  <label type="button" class="cm-his-item" id="cm-his-item">
                    <div class="cm-his-tag">
                      <p class="cm-his-name">半亩园</p>
                      <p class="cm-his-taste">粤式早茶</p>
                    </div>
                    <img src="images/res-img.png" class="img-responsive" >
                    <p class="cm-his-address">77 main street, Toronto
                      </p>
                    <p class="cm-his-address" style="color:#666666">7km</p>
                  </label>
                </div>

            </div>
        </div>

        