  <div class="cm-content-2">

	<div class="cm-res-banner">
      <img src= '{{restaurant.bannerImg}}' class="img-responsive">
      <div class="cm-res-card">
        <img src= '{{restaurant.cardImg}}'>
        <h1>{{restaurant.name}}</h1>
        <div class="cm-card-info"><h3>营业时间：</h3><p>{{restaurant.info?.openningTimes?.Monday?.start}} - {{restaurant.info?.openningTimes?.Monday?.end}}</p></div>
        <div class="cm-card-info"><h3>地址：</h3><p>{{restaurant.address}}</p></div>
      </div>
    </div>

    <div class="cm-order">


        <div class="cm-order-content container" style="width:100%;padding:0">
            <div class="cm-order-catalog col-sm-2">
                <div style="margin-left:10px"><h2>菜类</h2>
                <span class="glyphicon glyphicon-triangle-top" style="color:white"></span></div>
                <div *ngFor='let category of menuCategorys' class="cm-col-content" id="catalog">
                    <a href="#{{category.name}}"><h3>{{category.name}} </h3></a>
                </div>
            </div>
            <div class="cm-order-menu col-sm-7" style="padding:0 5px;">
                <div style="display:flex" >
                    <div id="btn-menu" style="margin-right:25px;margin-left:10px;cursor: pointer;"><h2>菜单</h2>
                      <span class="glyphicon glyphicon-triangle-top cm-menu-icon" style="color:white"></span></div>
                    <div id="btn-info" style="cursor: pointer;"><h2>餐厅简介</h2>
                      <span class="glyphicon glyphicon-triangle-top cm-info-icon" style="color:white"></span>
                    </div>
                </div>
                <cm-menu [menu] = 'restaurant.menu'></cm-menu>
                <restaurant-info [restaurantInfo] = 'restaurant.info' ></restaurant-info>
            </div>

            <div class="cm-order-cart col-sm-3" style="padding: 4px 0 0 5px;">
                <div style="display:flex;justify-content:space-between">
                    <div style="margin-top:15px;margin-left:10px">
                        <div class="cm-nav-cart" style="height:30px">
                          <img class="cm-cart-icon" src="src/images/shoppingcar.png" style="height:30px;margin:0">
                          <div style="margin-top: 2px"><sup style="font-size: 16px">{{orderService.getOrderQuantity()}}</sup></div>
                        </div>
                        <span class="glyphicon glyphicon-triangle-top" style="color:white"></span>
                    </div>
                    <h2>菜品总计：${{orderService.getOrderTotal()}}</h2>
                </div>

                <div class="cm-col-content" id="cart">
                    <button [routerLink]="['cart']" style="width:100%;background-color:#ea7b21;border:none;color:white;height:30px;margin-bottom:10px">去结算</button>

                    <cm-cart-items></cm-cart-items>
                </div>
                
                <div class="cm-history">
                  <h2 style="margin:10px 0">最近浏览</h2>
                  <div *ngFor="let recentRestaurant of orderService.getRecentViewRestaurants(historyNumber)">
                      <a [routerLink]="['/restaurants',recentRestaurant.id]">
                  <label type="button" class="cm-his-item" id="cm-his-item">
                    <div class="cm-his-tag">
                      <p class="cm-his-name">{{recentRestaurant.name}}</p>
                      <p class="cm-his-taste">{{recentRestaurant.name}}</p>
                    </div>
                    <img src="{{recentRestaurant.img}}" class="img-responsive" >
                    <p class="cm-his-address">{{recentRestaurant.address}}
                      </p>
                    <p class="cm-his-address" style="color:#666666">7km</p>
                  </label>
                      </a>
                  </div>

                </div>

            </div>
        </div>
