<div>
  <header>
    <nav class="navbar navbar-default cbp-af-header cm-nav cbp-af-header-shrink" role="navigation">
      <div class="cm-nav-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="height:80px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false" style="margin-top:20px">
	                  <span class="sr-only">Toggle navigation</span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                </button>
          <a (click)="hideSearchBar()" style="cursor:pointer"><img [routerLink]="['']" src="../images/cmbottom.png" style="margin:8px;height:54px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="margin-left:10px;">
            <!-- <li (click)="hideSearchBar()">
              <a [routerLink]="['']">
                <h3>首页</h3>
              </a>
            </li> -->
            <!-- <li>
              <a [routerLink]="['/info/myorder']">
                <h3>我的订单</h3>
              </a>
            </li> -->
            <li>
              <a [routerLink]="['/info/driver']">
                   <h3>加盟合作</h3>
                 </a>
            </li>
            <li>
              <a href="" data-toggle="tooltip" title="<img src='../images/qrcode.png' class='img-responsive'" data-placement="bottom" data-html="true">
                <h3>手机应用</h3>
              </a>
            </li>

            <li>
              <a href="fresh.html">
                <h3>客服中心</h3>
              </a>
            </li>
            <li>
              <a href="">
                <h3>购物车<span class="badge">0</span></h3>
              </a>
            </li>
            <li>
               <h3 style="margin-top:30px;cursor: pointer;" class="cm-nav-login">登录\注册</h3>
            </li>
            <!-- <li class="dropdown">
                   	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h3>用户名 <span class="caret"></span></h3></a>
                   	 <ul class="dropdown-menu">
                      <li><a href="info.html">个人信息</a></li>
                      <li><a href="security.html">安全中心</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">退出登录</a></li>
                   	 </ul>
                 	</li> -->
          </ul>
        </div>

        <div class="collapse navbar-collapse cm-nav-content" id="cm-lg-nav">
          <ul class="nav navbar-nav">
            <!-- <li class="cm-nav-index"  (click)="hideSearchBar()" style="background: url(../images/nav-bg.png);background-size: 100%">
              <a [routerLink]="['']" style="margin-top:12px">
                <h3>首页</h3>
              </a>
            </li> -->
            <!-- <li class="cm-nav-myorder">
              <a [routerLink]="['/info/myorder']" style="margin-top:12px">
                <h3>我的订单</h3>
              </a>
            </li> -->
            <!-- <li class="cm-nav-join">
              <a [routerLink]="['/info/driver']" style="margin-top:12px">
                <h3>加盟合作</h3>
              </a>
            </li> -->
          </ul>

          <div class="nav navbar-nav cm-res-address" style="display:flex">
            <p>当前地址：</p>
            <span>111 main street</span>
            <input type="text">
            <label class="cm-btn-change" type="button" style="cursor: pointer;">更改地址</label>
          </div>

          <ul class="nav navbar-nav cm-nav-right">
            <li class="cm-nav-app">
              <a>
                <img src="../images/phone.png" style="height: 40%;margin-right: 5px;">
                <h3>手机应用</h3>
              </a>
            </li>
            <!-- <div class="cm-nav-qr">
							<p>手机订餐更方便</p>
							<img src="../images/qrcode.png" style="width: 115px;height: 115px; margin: auto;">
						</div> -->
            <li class="cm-nav-service">
              <a [routerLink]="['/customservice/fresh']">
                <img src="../images/earphone.png" style="height: 30%;margin-right: 1px;">
                <h3>客服中心</h3>
              </a>
            </li>
            <li [routerLink]="['/user/myorder']" class="cm-nav-cart" style="width:40px">
              <img src="../images/shoppingcar.png" style="height:44%;margin-top:15px">
              <div><sup style="font-size: 16px">0</sup></div>
            </li>
            <li class="cm-nav-login" style="margin:0 5px;cursor: pointer;">
              <h3 style="margin-top:30px">登录\注册</h3>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

      </div>
      <!-- /.container -->
    </nav>
  </header>
<login></login>
  <main>
    <router-outlet></router-outlet>
  </main>

  <div class="cm-footer">
    <div class="cm-footer-item">
      <h2>用户帮助</h2>
      <ul style="padding:0">
        <ol>
          <a [routerLink]="['/customservice/fresh']">
            <p>新手指南</p>
          </a>
        </ol>
        <ol>
          <a [routerLink]="['/customservice/question']">
            <p>常见问题</p>
          </a>
        </ol>
      </ul>
    </div>
    <div class="cm-footer-item">
      <h2>加盟合作</h2>
      <ul style="padding:0">
        <ol>
          <a [routerLink]="['/cooperation/driver']">
            <p>司机团队</p>
          </a>
        </ol>
        <ol>
          <a [routerLink]="['/cooperation/business']">
            <p>商家合作</p>
          </a>
        </ol>
      </ul>
    </div>
    <div class="cm-footer-item">
      <h2>关于我们</h2>
      <ul style="padding:0">
        <ol>
          <a [routerLink]="['/customservice/about']">
            <p>馋猫介绍</p>
          </a>
        </ol>
        <ol>
          <p>联系我们</p>
          <div style="display:flex;">
            <img src="../images/wechat.png" style="height:30px">
            <img src="../images/sina.png" style="height:30px;margin-left:10px">
          </div>
        </ol>
      </ul>
    </div>
    <div class="cm-footer-item">
      <h2>下载手机版</h2>
      <div style="display:flex">
        <div style="display:flex;flex-direction:column;">
          <a href="https://itunes.apple.com/ca/app/chan-mao-ding-can/id888553991?mt=8"><img src="../images/appstore.png" style="width:148px" /></a>
          <a href="https://play.google.com/store/apps/details?id=ca.chanmao.orderapp" style="margin-top:10px"><img src="../images/google.png" style="width:148px" />
          </a>
        </div>
        <div style="display:flex;flex-direction:column;text-align:center;margin-left:5px">
          <img src="../images/qrcode.png" height="108px">
          <p>扫描下载馋猫App</p>
        </div>
      </div>
    </div>
  </div>

</div>
