<div id="fresh" class="cm-info-content" style="padding-bottom: 30px">
    <h2 style="margin:10px 0;font-size:20px">新手指南</h2><br/>
    <div class="container" style="width:100%">
                        <div class="cm-step col-sm-3 ">
                          <div style="height:87px ">
                            <img src="src/images/location.png " style="height:87px ">
                          </div>
                          <h5>输入您的地址</h5>
                          <p>输入您的地址查找附近的餐厅或者直接查找所有餐厅。</p>
                        </div>
                        <div class="cm-step col-sm-3 ">
                          <div style="height:87px; ">
                            <img src="src/images/shop.png " style="height:87px ">
                          </div>
                          <h5>选择餐馆</h5>
                          <p>我们现有近100家餐厅可供您选择。</p>
                        </div>
                        <div class="cm-step col-sm-3 ">
                          <div style="height:87px ">
                            <img src="src/images/card.png " style="height:87px ">
                          </div>
                          <h5>完善个人信息</h5>
                          <p>完善您的个人信息，完成下单。</p>
                        </div>
                        <div class="cm-step col-sm-3 ">
                          <div style="height:87px;padding-top:6px ">
                            <img src="src/images/delivery.png " style="height:66px ">
                          </div>
                          <h5>及时配送</h5>
                          <p>您可以葛优瘫在家等待我们的配送到家，或者也可以自取。</p>
                        </div>
                      </div>
                      <hr/>

                        <h2 style="margin:20px 0;font-size:20px">联系馋猫</h2>
                        <h3 style="margin:10px 0;font-size:16px">如有问题欢迎下载馋猫微信客户端，可直接联系我们的客服人员。</h3>
                        <div style="display: flex;margin-left: 20%">
                            <img src="src/images/cmbottom.png" style="margin-top: 40px;margin-right:90px;margin-left:30px;width: 180px;height: 80px">
                            <img src="src/images/qrcode.png" style="margin-top: 20px" />
                        </div>

</div>
